<div class="container">
  <mat-card class="form-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Añadir tarea</mat-card-title>
    </mat-card-header>
    <mat-form-field class="input-field">
      <mat-label>Titulo</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Descripción</mat-label>
      <textarea
        matInput
        placeholder="Ejm: Realizar ajustes a la base de datos"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Estado</mat-label>
      <mat-select>
        <mat-option value="progreso">Progreso</mat-option>
        <mat-option value="pendiente">Pendiente</mat-option>
        <mat-option value="completado">Completado</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="button-group">
      <mat-card-actions class="cancel-button">
        <button routerLink="tasks" class="cancel-text" mat-button>Cancelar</button>
      </mat-card-actions>
      <mat-card-actions>
        <button routerLink="tasks" mat-button>Agregar</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
