<div class="container">
    <div class="task-box pendiente">
        <h2>Pendiente</h2>
        
        @if(pendienteTaskList.length === 0) {
            <p>No hay tareas pendientes</p>
        }

        @for (task of pendienteTaskList; track task.id) {

            <app-task-card [task]="task"/>

        }   
    </div>
    <div class="task-box progreso">
        <h2>Progreso</h2>

        @if(progresoTaskList.length === 0) {
            <p>No hay tareas en progreso</p>
        }

        @for (task of progresoTaskList; track task.id) {
        
            <app-task-card 
            [task]="task"
            (taskDeleted)="refreshTaskList()"
            />

        }
    </div>
    <div class="task-box completado">
        <h2>Completado</h2>

        @if(completoTaskList.length === 0) {
            <p>No hay tareas completados</p>
        }
        
        @for (task of completoTaskList; track task.id) {

            <app-task-card [task]="task"/>
            
        }
    </div>
    
</div>