.container {
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    gap: 2rem;

}

.task-box {
    border-radius: 1rem;
    min-width: min-content;
    min-height: 80vh;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem; /* Sombra suave */
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Cambia a diseño de columna en pantallas más pequeñas */
        align-items: stretch; /* Ajusta los elementos para ocupar todo el ancho */
        padding: 0 0;
    }

    .task-box {
        margin: auto;         
        width: 22.5rem; /* Hace que los elementos ocupen todo el ancho en pantallas pequeñas */
        min-height: auto; /* Ajuste en altura para mejor adaptación */
    }
}

.pendiente {
    border: 2px #fcedc9 solid;
    background-color: #fef8ea;
}

.progreso {
    border: 2px #eceafd solid;
    background-color: #f1f0fe;
}

.completado {
    border: 2px #fbeef7 solid;
    background-color: #fcf3f9;
}