<div class="container">
    <div class="task-box pendiente">
        <h2>Pendiente</h2>
        
        @for (task of taskList; track task.id) {

            @if(task.state === "pendiente") {
                <app-task-card [task]="task"/>
            }
            
        }
    </div>
    <div class="task-box progreso">
        <h2>Progreso</h2>
        @for (task of taskList; track task.id) {
        
            @if(task.state === "progreso") {
                <app-task-card [task]="task"/>
            }
        }
    </div>
    <div class="task-box completado">
        <h2>Completado</h2>
        @for (task of taskList; track task.id) {

            @if(task.state === "completado") {
                <app-task-card [task]="task"/>
            }
            
        }
    </div>
    
</div>